<main id="main" class="b-section">
  <div class="b-container">
    <section class="b-columns">

      <header id="hero" class="b-column b-is-6">
        <div class="h-bg b-columns b-is-gapless b-is-mobile" style="background-image: url('<%- url_for( page.cover ) %>');">
          <div class="b-column b-is-3-mobile b-is-2-tablet"></div>
          <div class="h-content b-column b-is-6-mobile b-is-8-tablet">
            <%- page.content %>
          </div>
          <div class="b-column b-is-3-mobile b-is-2-tablet"></div>
        </div>
      </header>

      <nav id="category" class="b-column b-is-6" role="menu">
        <div class="b-columns b-is-mobile b-is-multiline">
          <% var blocks = 0 %>
          <% site.categories.findOne({name: page.query}).posts.sort('date', -1).each(function(post) { %>
            <% blocks++ %>
            <div class="b-column b-is-6-mobile b-is-3-tablet">
              <div class="h-bg" style="background-image: url('<%- url_for( post.path+'/'+post.cover ) %>');">
                <img class="h-pixel" src="<%- url_for('lib/framework/img/ratio/2x3.png') %>" alt="Placeholder">
                <div class="h-content">
                  <a href="<%- url_for( post.path ) %>" role="menuitem"><%= post.title %></a>
                </div>
              </div>
            </div>
          <% }) %>
          <% if (blocks < 8){ for (i = blocks; i < 8; i++){ %>
            <div class="b-column b-is-6-mobile b-is-3-tablet b-is-hidden-mobile">
              <div class="h-bg empty">
                <img class="h-pixel" src="<%- url_for('lib/framework/img/ratio/2x3.png') %>" alt="Placeholder">
                <div class="h-content">
                  +
                </div>
              </div>
            </div>
          <% }} %>
        </div>
      </nav>

    </section>
  </div>
</main>
