<header id="header" class="b-section">
  <div class="b-container">
    <div class="b-columns b-is-gapless b-is-mobile">
      <div id="logo" class="b-column b-is-3-mobile b-is-1-tablet">
        <a href="<%- config.root %>"><img src="lib/base/img/logo/logo.svg" alt="Tony Ko's Portfolio Logo"></a>
      </div>
      <div id="name" class="b-column b-is-7-mobile b-is-5-tablet">
        <a href="<%- config.root %>"><%= config.title %></a>
        <p><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
      </div>
      <nav id="menu" class="b-column" role="menu">
        <% for (var i in theme.menu){ %>
          <a href="<%- url_for(theme.menu[i].link) %>" role="menuitem"> <i class="fa <%= theme.menu[i].icon %>" aria-hidden="true"></i> &nbsp; <span class="b-is-hidden-mobile"><%= theme.menu[i].title %></span> </a>
        <% } %>
      </nav>
      <nav id="links" class="b-column b-is-narrow " role="menu">
        <% for (var i in theme.links){ %>
          <a href="<%= theme.links[i].link %>" role="menuitem"> <span class="b-is-hidden-mobile"><%= theme.links[i].title %></span> &nbsp; <i class="fa <%= theme.links[i].icon %>" aria-hidden="true"></i> </a>
        <% } %>
      </nav>
    </div>
  </div>
</header>
