<%- partial('_elements/art') %>

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- init -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- meta -->
    <%
    var title = page.title;

    if (is_archive()){
      title = 'Archives';

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = 'Category: ' + page.category;
    } else if (is_tag()){
      title = 'Tag: ' + page.tag;
    }
    %>
    <title>
      <%= config.title %> |
      <% if (title){ %>
        <%= title %>
      <% } else{ %>
        <%= config.subtitle %> |
      <% } %>
    </title>
    <meta name="description" content="<%= config.description %>">
    <meta name="author" content="Tony Ko">
    <!-- seo -->
    <% var htko_image = "";
      if ( page.cover ){
        if ( page.images && page.images.length ){
          htko_image = page.images[0];
        } else {
          htko_image = page.cover;
        }
      } else {
        htko_image = url_for( 'gfx/personal/htko-identity/index/mockup-cards.jpg' );
      }
    %>
    <%- open_graph({twitter_id: theme.twitter_id, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id, type: 'profile', image: htko_image}) %>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/lib/framework/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/lib/framework/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/lib/framework/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/lib/framework/img/favicon/manifest.json">
    <link rel="mask-icon" href="/lib/framework/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/lib/framework/img/favicon/favicon.ico">
    <meta name="msapplication-config" content="/lib/framework/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- external -->
    <% if (config.highlight.enable){ %>
      <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <% } %>
    <!-- css -->
    <%- css("lib/font-awesome-4.7.0/css/font-awesome-4.7.0.min.css") %>
    <%- css("lib/blueimp-gallery-2.22.0/css/blueimp-gallery.min.css") %>
    <%- css("lib/framework/css/index.css") %>
    <!-- js -->
    <%- js("lib/jquery-3.1.1/js/jquery.min.js") %>
    <%- js("lib/blueimp-gallery-2.22.0/js/blueimp-gallery.min.js") %>
    <%- js("lib/framework/js/index.js") %>

  </head>
  <body>
