<%- partial('_elements/art') %>

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- init -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- meta -->
    <%
    var title = page.title;

    if (is_archive()){
      title = 'Archives';

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category()){
      title = 'Category: ' + page.category;
    } else if (is_tag()){
      title = 'Tag: ' + page.tag;
    }
    %>
    <title>
      <%= config.title %> |
      <% if (title){ %>
        <%= title %>
      <% } else{ %>
        <%= config.subtitle %> |
      <% } %>
    </title>
    <meta name="description" content="Free Code Camp Project - Tic Tac Toe Widget">
    <meta name="author" content="Tony Ko">
    <!-- seo -->
    <%- open_graph({twitter_id: theme.twitter_id, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
    <% if (theme.rss){ %>
      <link rel="alternate" href="<%- url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <!-- favicon -->
    <% if (theme.favicon){ %>
      <link rel="icon" href="<%- url_for(theme.favicon) %>">
    <% } %>
    <!-- external -->
    <% if (config.highlight.enable){ %>
      <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <% } %>
    <!-- css -->
    <%- css("lib/framework/css/index.css") %>
    <%- css("lib/font-awesome-4.7.0/css/font-awesome-4.7.0.min.css") %>
    <%- css("lib/blueimp-gallery-2.22.0/css/blueimp-gallery.min.css") %>
    <!-- js -->
    <%- js("lib/framework/js/index.js") %>
    <%- js("lib/blueimp-gallery-2.22.0/js/blueimp-gallery.min.js") %>

  </head>
  <body>
